
table {
    border-collapse: collapse; 
    border: 1px solid;
    height: 100px;
    width: 500px;
}

th {
    text-align: center;
}

.head {
    /* background-color: brown; */
    border: 1px solid;
} 

.right {
    text-align: center;
}

.left {
    text-align: center;
}